<div class="row">
<mat-toolbar color="primary" class="header mat-elevation-z4">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/" class="title-group">
        SaveFriend
    </span>
    <span class="example-spacer"></span>
    <!--
    <button mat-icon-button class="material-icons" aria-label="Example icon-button with copy icon">
        <mat-icon>content_copy</mat-icon>
    </button>
    -->
    <button mat-icon-button class="material-icons icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
</div> <!--FIM DA DIV ROW-->