.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.fab {
    position: fixed;
    padding-top: 15;
    margin-bottom: 0;
    z-index: 997;
    right: 24px;
    bottom: 45px;
}