<div class="row">
    <mat-card class="col-md-4">
        <div class="col-md-9 ">

            <mat-card-title>Excluir Informação </mat-card-title>

            <form>
                <mat-form-field class="example-full-width">
                    <mat-label>Plataforma:</mat-label>
                    <input matInput placeholder="Ex: Steam, Epic" [value]="friendCode.plataform" name="plataform" disabled>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Nome de Usuário:</mat-label>
                    <input matInput placeholder="Ex. LittleJoao, MariaX" [value]="friendCode.name" name="name" disabled>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Código:</mat-label>
                    <input matInput placeholder="Ex: 12345, 1111-2222" [value]="friendCode.code" name="code" disabled>
                </mat-form-field>
            </form>


            <button (click)="deleteFriendCode()" mat-raised-button color="warn">Excluir</button>
            <button (click)="cancel()" mat-raised-button color="secondary">Cancelar</button>





        </div>
    </mat-card>
</div>

